.kalen{
    background-position: center;
    background-size: cover;
    width: 85%;
    height: 223px;
    margin: auto;
    border-radius: 15px;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.kalen-img{
    border-radius: 25px;
   width: 100%;
}