*{
	margin: 0;
	padding: 0;
}

.card{

	display: flex;
	justify-content: center;
	width: 78%;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 1%;
	border-radius: 15px;
	background-color:#dfdfdf ;	
}


.card-hote {
   margin: auto;
   margin-top: 3%;
}


.card-item {
	border-radius: 10px;
	height: 340px;
	width: 340px;		
}


.card-img{
	object-fit: cover;
	width: 100%;
	height: 340px;
	border-radius: 10px;
	filter: brightness(65%);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);	
}


.card-title{	
	color: white;
	font-size: medium;
	position: relative;
	bottom: 40px;
	left: 15px;	
}


img{
	object-fit: cover;
}

/*/////////////////////////////////// Partie responsive //////////////////////////////////*/

@media screen and (max-width: 1300px){
    .card{
		background-color: white;
		margin-left: auto;
	}
}



@media screen and (max-width: 1500px){
    .card{
		margin: auto;
	}
}