footer{
    margin-top: 5%;
    margin-left: 7.5%;
    width: 85%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-img{
    margin-top: 2%;
}

.lmj-logo-footer{
    margin-left: 5%;
}

.kasa-footer{
    display: flex;
    justify-content: center;
    width: 20%;
    object-fit: cover;
    
}


@media screen and (max-width: 1300px){
    .lmj-logo-footer{
        width: 25px;
    }

    .logo-footer{
        width: 250px;
    }
}