footer{
    margin-top: 5%;
    margin-left: 7.5%;
    width: 85%;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.kasa-footer{
    display: flex;
    justify-content: center;
    width: 20%;
    object-fit: cover;
    
}


.logo-footer{
    margin-left: 5%;
}


.text-img{
    margin-top: 2%;
}






@media screen and (max-width: 1300px){
    .logo-footer{
        width: 25px;
    }

   .footer-text{
    width: 100%;
    margin-top: 2%;
   }
}